<p>
    <mat-toolbar color="primary">
        <span>My Application</span>
    </mat-toolbar>
</p>

<!-- <mat-slider min="1" max="100" step="1" value="1">Mela slider</mat-slider> -->

<div class="main-container">
    <app-mapa></app-mapa>
</div>