/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes//purple-green.css';
html,
body {
    height: 100%;
}

body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* html,
body {
    margin: 0px;
} */

.main-container {
    margin-top: 5px;
    padding: 10px;
}